<!--thought a router might come in useful during installation; in other words: the installer talked me into it...-->
<!--router-outlet></router-outlet-->

<header class="d-flex justify-content-center ">
	<nav class="d-flex justify-content-center flex-row">
		<label for="searchText">Search for…</label>
		<input
			id="searchText"
			class="btn-outline-primary profane"
			[ngClass]="{profane: profanity.active}"
			type="text"
			placeholder="kittens?"
			[(ngModel)]="search"
			(keyup.enter)="getSearch()"
			(keyup.escape)="undoSearch()"
			(keyup)="profanityCheck()"
		/>
		<button
			id="searchButton"
			class="btn btn-outline-primary"
			[ngClass]="{profane: profanity.active}"
			(click)="getSearch()"
		>
			…on giphy!
		</button>
	</nav>
</header>

<div *ngIf="page.items.length" class="results d-flex justify-content-center">
	<ul>
		<li *ngFor="let item of page.items; let i = index">
			<a [href]="item.link" id="items{{page.size * (page.index - 1) + i + 1}}">
				<img
					[src]="item.src"
					height="200"
					[title]="item.title"
					(load)="imageLoading($event)"
				/>
			</a>
		</li>
	</ul>
</div>

<footer *ngIf="page.items.length" class="d-flex ">
	<div>
		<div>
			<div ngbDropdown class="d-inline-block">
				<button class="btn btn-outline-primary" id="pageSizeDD" ngbDropdownToggle>{{ page.size }}</button>
				<div ngbDropdownMenu aria-labelledby="pageSizeDD">
					<button ngbDropdownItem (click)="pageSizeChange(5)">5</button>
					<button ngbDropdownItem (click)="pageSizeChange(10)">10</button>
					<button ngbDropdownItem (click)="pageSizeChange(25)">25</button>
					<button ngbDropdownItem (click)="pageSizeChange(50)">50</button>
				</div>
			</div>
			<label for="pageSizeDD">images</label>
		</div>
	</div>
	<ngb-pagination class="d-flex justify-content-center" *ngIf="page.items"
		[collectionSize]="page.total"
		[(page)]="page.index"
		[pageSize]="page.size"
		[boundaryLinks]="true"
		[maxSize]="page.count" [rotate]="page.rotation" [ellipses]="page.ellipses"
		(pageChange)="paginationChange($event)"
		aria-label="search result pagination">
		<ng-template ngbPaginationFirst>|&lt;</ng-template>
		<ng-template ngbPaginationLast>&gt;|</ng-template>
		<ng-template ngbPaginationPrevious>&lt;</ng-template>
		<ng-template ngbPaginationNext>&gt;</ng-template>
		<ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
	</ngb-pagination>
	<div>
		<ngb-progressbar *ngIf="images.loaded < page.items.length" type="primary"
			[value]="100 * (images.loaded / page.items.length)"
			[striped]="true"
		></ngb-progressbar>
	</div>
</footer>
