:host {
	// background-color: blue;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
	// padding: 0;
}

header {
	width: 100%;
	// background-color: yellow;
	padding: 1em;
	& > div {
		width: 10%;
		display: flex;
		.info {
			margin-left: auto; // quick fix to move item to the right
			width: 50px; 
            height: 50px; 
            padding: 6px 0px; 
            border-radius: 25px; 
            text-align: center;
        }
        .dropdown-toggle::after {
        	margin-left: -0.2em;
        }
        [ngbDropdownMenu] {
        	overflow: hidden;
        	.content-wrapper {
        		width: 50rem;
        		padding-left: 1em;
        		padding-right: 1em;
        		overflow: auto;
        		font-size: -1em;
        	}
        }
	}
	& > nav {
		// background-color: red;
		width: 80%;
		input, button {
			&.profane {
				border-color: red;
				background-color: red;
				color: white;
			}
		}
		input {
			flex: 1;
			margin: 0 1em;
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}

.results {
	margin: 0;
	width: 100%;
	flex: 1;
	// background-color: lime;
	& > ul {
		list-style: none;
		width: 80%;
		// background-color: lightgrey;
		> li {
			text-align: center;
			img {
				margin: .5em;
			}
		}
	}
	overflow: auto;
	margin-bottom: 1em;	
}

footer {
	display: flex;
	flex-direction: row;
	& > div {
		[ngbDropdown] {
			margin-left: 1em;
		}
		width: 20%;
		display: flex;
		label {
			margin: auto 1em;
			// padding-top: 0.2em;
			// padding-left: 1em;
		}
		ngb-progressbar {
			margin: auto 1em;
			width: 100%;
		}
	}
	width: 100%;
	// background-color: yellow;
	ngb-pagination {
		// background-color: red;
		width: 60%;
	}
}
