:host {
	// background-color: blue;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
	// padding: 0;
}

header {
	width: 100%;
	// background-color: yellow;
	padding: 1em;
	& > nav {
		// background-color: red;
		width: 80%;
		label, button {
		}
		input {
			flex: 1;
			margin: 0 1em;
		}
	}
}

.results {
	margin: 0;
	width: 100%;
	flex: 1;
	// background-color: lime;
	& > ul {
		list-style: none;
		width: 80%;
		// background-color: lightgrey;
		> li {
			text-align: center;
			img {
				margin: .5em;
			}
		}
	}
	overflow: auto;
	margin-bottom: 1em;	
}

footer {
	width: 100%;
	// background-color: yellow;
	ngb-pagination {
		// background-color: red;
		width: 80%;
	}
}
