<!--thought a router might come in useful during installation; in other words: the installer talked me into it...-->
<!--router-outlet></router-outlet-->

<header class="d-flex ">
	<div></div>
	<nav class="d-flex justify-content-center flex-row">
		<label for="searchText">Search for…</label>
		<input
			id="searchText"
			class="btn-outline-primary profane"
			[ngClass]="{profane: profanity.active}"
			type="text"
			placeholder="kittens?"
			[(ngModel)]="search"
			(keyup.enter)="getSearch()"
			(keyup.escape)="undoSearch()"
			(keyup)="profanityCheck()"
		/>
		<button
			id="searchButton"
			class="btn btn-outline-primary"
			[ngClass]="{profane: profanity.active}"
			(click)="getSearch()"
		>
			…on giphy!
		</button>
	</nav>
	<div ngbDropdown #infoDrop>
		<button ngbDropdownToggle
			id="infoButton"
			class="btn btn-outline-primary info"
			(click)="infoDrop.open()"
		>
			info
		</button>
	     <div ngbDropdownMenu aria-labelledby="dropdownForm1">
	      	<div class="content-wrapper">
		     	<!-- probably better injected by a service... -->
	      		<p>The absolute final user manual</p>

	      		<ol>
	      			<li>Typing text in the search box is evaluated for profanity as you type. Be nice! If it turns red, you are not being nice. When you submit the search, the app will let you know if you are not being nice.<br/>The app uses a service called webpurify to decide what is nice and what is not. Take it up with them if you think they are being picky!</li>

	      			<li>Submitting a search happens by either hitting "enter" while in the search box, or pressing the button.</li>

	      			<li>If you did type something nice and there are results, they will be displayed as items in a vertical list. Hovering over them displays the text giphy has for them in their database, clicking on them will bring you to their giphy-page. If there are more images than fits in the viewport, you can scroll.</li>

	      			<li>If you were not nice, there will also be results. Just not the ones you expected, probably. That is why they might better be called "consequences" instead of "results". But, in general, they will function as described before.</li>

	      			<li>In the "images" pulldown in the bottom left corner you can select how many images will be displayed on one result page. Default is 10. More images take longer. Duh. In the right bottom corner is a progress bar which informs you how much longer you have to wait for completion while stuff is still loading.</li>

	      			<li>The pagination element in the bottom middle will let you navigate through the result pages. |< and >| will take you to the first and last pages, respectively, < and > to the previous and next.<br/>The page numbers allow you to jump to pages directly. Albeit, only a maximum of 5 pages will be accessible this way. The current page is selected and in the middle, unless it's one of the first or last two pages, obviously. If you click a new page index, it will rotate into the middle, if possible. This way you can access all the other pages, by rotating them into the middle.</li>
	      		</ol>
	      	</div>
	      </div>
	</div>
</header>

<div *ngIf="page.items.length" class="results d-flex justify-content-center">
	<ul>
		<li *ngFor="let item of page.items; let i = index">
			<a [href]="item.link" id="items{{page.size * (page.index - 1) + i + 1}}">
				<img
					[src]="item.src"
					height="200"
					[title]="item.title"
					(load)="imageLoading($event)"
				/>
			</a>
		</li>
	</ul>
</div>

<footer *ngIf="page.items.length" class="d-flex ">
	<div>
		<div>
			<div ngbDropdown class="d-inline-block">
				<button class="btn btn-outline-primary" id="pageSizeDD" ngbDropdownToggle>{{ page.size }}</button>
				<div ngbDropdownMenu aria-labelledby="pageSizeDD">
					<button ngbDropdownItem (click)="pageSizeChange(5)">5</button>
					<button ngbDropdownItem (click)="pageSizeChange(10)">10</button>
					<button ngbDropdownItem (click)="pageSizeChange(25)">25</button>
					<button ngbDropdownItem (click)="pageSizeChange(50)">50</button>
				</div>
			</div>
			<label for="pageSizeDD">images</label>
		</div>
	</div>
	<ngb-pagination class="d-flex justify-content-center" *ngIf="page.items"
		[collectionSize]="page.total"
		[(page)]="page.index"
		[pageSize]="page.size"
		[boundaryLinks]="true"
		[maxSize]="page.count" [rotate]="page.rotation" [ellipses]="page.ellipses"
		(pageChange)="paginationChange($event)"
		aria-label="search result pagination">
		<ng-template ngbPaginationFirst>|&lt;</ng-template>
		<ng-template ngbPaginationLast>&gt;|</ng-template>
		<ng-template ngbPaginationPrevious>&lt;</ng-template>
		<ng-template ngbPaginationNext>&gt;</ng-template>
		<ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
	</ngb-pagination>
	<div>
		<ngb-progressbar *ngIf="images.loaded < page.items.length" type="primary"
			[value]="100 * (images.loaded / page.items.length)"
			[striped]="true"
		>{{ images.loaded }} loaded</ngb-progressbar>
	</div>
</footer>
